.notifications {
	display: none;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 600px;
}

.notification {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.50);
	backdrop-filter: blur(40px); 
	color: white;
	padding: 12px;
	border: 1px solid dimgray;
	outline: 1px solid #A0A0A0;
	outline-offset: -2px;
	border-radius: 8px;
	width: 300px;
	animation: slide-in ease-out 250ms;
	display: grid;
	grid-template-columns: auto auto;
	gap: 12px;
}

.notification .name {
	font-weight: 600;
}

.notification div:has(img) {
	aspect-ratio: 1;
	width: 50px;
	overflow: hidden;
	border-radius: 999px;
	border: solid thin dimgray;
	margin: auto 0;

	img {
		max-height: 100%;
		object-fit: contain;
	}
}

@keyframes slide-in {
	from {
		transform: translateY(75px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
